PORT=8083
HOST=127.0.0.1
MONGO_AUTH_SOURCE=admin

MONGO_URI=mongodb://127.0.0.1:27017

MONGO_DB_NAME=db3_atmosphere_feed
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=

WEATHER_COLLECTION=weather_readings
MS2_URL=http://127.0.0.1:8082
